.not-found h1{
    padding-left: 50%;
    font-size: xx-large;
    font-weight: 800;
}
.not-found h2{
    padding-left: 47%;
}
.not-found p{
    padding: 20px 100px;
}
@media screen and (max-width:480px) {
    .not-found{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
}