.home-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
h1{
    font-size: xx-large;
}
.details-title{
    color: rgb(14, 139, 0);
}
.details-container{
    margin: 10px 20px;
    padding-left: 20px;
}
.review-container{
    margin: 20px 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    
}
.review-title{
    
    padding-left: 40%;
}
.review-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 8px;
    margin-left: 40%;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 3px;
}