.home-container{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
h1{
    font-size: xx-large;
    font-weight: 800;
}
 .home-container img{
     height: 400px;
     width: 400px;
 }
.details-title{
    color: rgb(14, 139, 0);
}
.details-container{
     padding-top: 60px;
    margin: 10px 20px;
    padding-left: 20px;
}
.review-container{
    margin: 5px 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    
}
.review-title{
    
    padding-left: 40%;
}
.review-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 8px;
    margin-left: 45%;
    background-color:red;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 3px;
}